### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [360]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [361]:
totalNumPlayers = purchase_data.SN.value_counts().count()
totalNumPlayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [362]:
# Number of unique items
numUniqueItems = purchase_data["Item ID"].value_counts().count()
numUniqueItems

179

In [363]:
#Average price
avgPrice = purchase_data["Price"].mean()
avgPrice

3.050987179487176

In [364]:
#Number of purchases
numPurchases = purchase_data["Purchase ID"].count()
numPurchases

780

In [365]:
#Total revenue / purchases value
totalRevenue = purchase_data["Price"].sum()
totalRevenue

2379.77

In [366]:
# Create summart dataframe
purchasingTotalSummary_df = pd.DataFrame({
    "Number of Unique Items":[numUniqueItems],
    "Average Price": [f"${round(avgPrice,2)}"],
    "Number of Purchases":[numPurchases],
    "Total Revenue": [f"${round(totalRevenue,2)}"]
    })
purchasingTotalSummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [367]:
# Filter purchases completed by Male players
malePurchases = purchase_data.loc[purchase_data["Gender"] == "Male"]

#Count of Male players
numMalePlayers = len(malePurchases["SN"].unique())
numMalePlayers

484

In [368]:
# Filter purchases completed by Female players
femalePurchases = purchase_data.loc[purchase_data["Gender"] == "Female"]

#Count of Male players
numFemalePlayers = len(femalePurchases["SN"].unique())
numFemalePlayers
femalePurchases

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [369]:
#Percentage of Male players
percentFemalePlayers = round(numFemalePlayers / totalNumPlayers * 100,2)
percentFemalePlayers

14.06

In [370]:
# Filter purchases completed by Other / Non-Disclosed players
otherGenderPurchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

#Count of Other / Non-Disclosed players
numOtherGenderPlayers = len(otherGenderPurchases["SN"].unique())
numOtherGenderPlayers

11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [371]:
#Prepare Data sets by Column
genderCol = ["Female", "Male", "Other / Non-Disclosed"]
purchaseCountCol = [femalePurchases["Purchase ID"].count(), malePurchases["Purchase ID"].count(), otherGenderPurchases["Purchase ID"].count()]
avgPurchasePriceCol = [femalePurchases["Price"].mean(), malePurchases["Price"].mean(), otherGenderPurchases["Price"].mean()]
totalPurchaseValueCol = [femalePurchases["Price"].sum(), malePurchases["Price"].sum(), otherGenderPurchases["Price"].sum()]
avgTotalPurchasePerPersonCol = [femalePurchases["Price"].sum()/numFemalePlayers, malePurchases["Price"].sum()/numMalePlayers, otherGenderPurchases["Price"].sum()/numOtherGenderPlayers]

#Create Gender Purchase Analysis Summary Dataframe
genderPurchaseAnalysisSummary = pd.DataFrame({"Gender":genderCol,"Purchase Count":purchaseCountCol, "Average Purchase Price": avgPurchasePriceCol, "Total Purchase Value": totalPurchaseValueCol, "Avg Total Purchase per Person": avgTotalPurchasePerPersonCol})

#Apply accounting number format style
genderPurchaseAnalysisSummary["Average Purchase Price"] = genderPurchaseAnalysisSummary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genderPurchaseAnalysisSummary["Total Purchase Value"] = genderPurchaseAnalysisSummary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
genderPurchaseAnalysisSummary["Avg Total Purchase per Person"] = genderPurchaseAnalysisSummary["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

#Set Index to Gender
genderPurchaseAnalysisSummary.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [372]:
# Establish bins for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
ageGroup_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [373]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_age = purchase_data
purchase_data_age["Age Ranges"] = pd.cut(purchase_data_age["Age"], bins, labels=ageGroup_names, include_lowest=True)
# Calculate the numbers and percentages by age group
purchase_data_age_group = purchase_data_age.groupby("Age Ranges")
purchase_data_age_groupPlayerCount = purchase_data_age_group["SN"].unique()
playerCountCol = [ len(x) for x in purchase_data_age_groupPlayerCount ]
print(playerCountCol)
playerCountPercentCol = [ f'{round(x/totalNumPlayers * 100,2)}%' for x in playerCountCol ]
print(playerCountPercentCol)

ageDemographicsSummary = pd.DataFrame({
    "Age Range": ageGroup_names,
    "Total Counts": playerCountCol,
    "Percentage of Players": playerCountPercentCol
})
ageDemographicsSummary.set_index("Age Range")

[17, 22, 107, 258, 77, 52, 31, 12]
['2.95%', '3.82%', '18.58%', '44.79%', '13.37%', '9.03%', '5.38%', '2.08%']

           Total Counts Percentage of Players
Age Range
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [374]:
# Bin the purchase_data data frame by age
purchase_data_age_group = purchase_data_age.groupby("Age Ranges")
purchaseCountCol = purchase_data_age_group["Purchase ID"].count()
print(purchaseCountCol)

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [375]:
# Average purchase price
averagePurchasePriceCol = purchase_data_age_group["Price"].mean()
averagePurchasePriceColfmt = averagePurchasePriceCol.map("${:,.2f}".format)
print(averagePurchasePriceColfmt)

Age Ranges
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [376]:
totalPurchaseValueCol = purchase_data_age_group["Price"].sum()
# totalPurchaseValueCol = [x for x in totalPurchaseValueCol]
totalPurchaseValueColfmt = totalPurchaseValueCol.map("${:,.2f}".format)
print(totalPurchaseValueCol)

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [377]:
purchaseAnalysisSummary = pd.DataFrame({
    "Purchase Count": purchaseCountCol,
    "Average Purchase Price": averagePurchasePriceCol,
    "Total Purchase Value": totalPurchaseValueCol
})
purchaseAnalysisSummary

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
<10                     23                3.353478                 77.13
10-14                   28                2.956429                 82.78
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00
30-34                   73                2.931507                214.00
35-39                   41                3.601707                147.67
40+                     13                2.941538                 38.24

In [378]:
#Prepare summary analysis
purchaseAnalysisSummary["Avg Total Purchase per Person"] = ""
avgPurchasePerPersonCol = purchaseAnalysisSummary["Total Purchase Value"] / playerCountCol

purchaseAnalysisSummaryfmt["Avg Total Purchase per Person"] = avgPurchasePerPersonCol.map("${:,.2f}".format)
purchaseAnalysisSummaryfmt["Average Purchase Price"] = averagePurchasePriceCol.map("${:,.2f}".format)
purchaseAnalysisSummaryfmt["Total Purchase Value"] = totalPurchaseValueCol.map("${:,.2f}".format)

purchaseAnalysisSummaryfmt

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [379]:
# Copy original dataset
purchase_data_TopSpenders = purchase_data

#Group SN since this is primary key
topSpenderGroup = purchase_data_TopSpenders.groupby("SN")

#Count of purchases
topSpenderPurchaseCountCol = topSpenderGroup["Purchase ID"].count()

#Average purchase price
topSpenderAvgPurchasePrice = topSpenderGroup["Price"].mean()

#Total spend
topSpenderTotalPurchaseValue = topSpenderGroup["Price"].sum()

#Prepare dataframe and summary table
topSpendersSummary = pd.DataFrame({
    "Purchase Count": topSpenderPurchaseCountCol,
    "Average Purchase Price": topSpenderAvgPurchasePrice,
    "Total Purchase Value": topSpenderTotalPurchaseValue
})
topSpendersSummary = topSpendersSummary.sort_values("Total Purchase Value", ascending=False)

topSpendersSummary["Average Purchase Price"] = topSpendersSummary["Average Purchase Price"].map("${:,.2f}".format)
topSpendersSummary["Total Purchase Value"] = topSpendersSummary["Total Purchase Value"].map("${:,.2f}".format)
topSpendersSummary

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [380]:
#Copy original data set
purchase_data_popularItems = purchase_data

#Group by Item ID and Name
groupedPopularItems = purchase_data_popularItems.groupby(["Item ID", "Item Name"])

#Count of items
groupedPopularItemsPurchaseCountCol = groupedPopularItems["Purchase ID"].count()

#Total revenue for each item
groupedPopularItemsTotalPurchaseValueCol = groupedPopularItems["Price"].sum()

#Price of each item
groupedPopularItemsPriceCol = groupedPopularItemsTotalPurchaseValueCol/groupedPopularItemsPurchaseCountCol

#Prepare dataframe and summary table
groupedPopularItemsSummary = pd.DataFrame({
    "Purchase Count": groupedPopularItemsPurchaseCountCol,
    "Item Price": groupedPopularItemsPriceCol,
    "Total Purchase Value": groupedPopularItemsTotalPurchaseValueCol
})
#Copy dataset for next excercise
groupedPopularItemsSummaryCopy = groupedPopularItemsSummary
groupedPopularItemsSummary = groupedPopularItemsSummary.sort_values("Purchase Count", ascending=False)

groupedPopularItemsSummary["Item Price"] = groupedPopularItemsSummary["Item Price"].map("${:,.2f}".format)
groupedPopularItemsSummary["Total Purchase Value"] = groupedPopularItemsSummary["Total Purchase Value"].map("${:,.2f}".format)
groupedPopularItemsSummary

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [381]:
# Sort by Total Purchase Value and order by descending
groupedMostProfitableItem = groupedPopularItemsSummaryCopy.sort_values(["Total Purchase Value"] ,ascending=False)
groupedMostProfitableItem

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75